## Q1 (MySQL)

SELECT Count(DISTINCT uid)
FROM   piwik_track
WHERE  Date(time) >= '2017-04-02'
       AND Date(time) <= '2017-04-08'
       AND uid IN (SELECT uid
                   FROM   piwik_track
                   WHERE  Date(time) = '2017-04-01'
                          AND event_name = 'FIRST_INSTALL')

## Q2

In [1]:
import pandas as pd

C:\Users\jin\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
C:\Users\jin\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
log_filename ='q2.txt'

In [3]:
df = pd.read_csv('q2.txt', sep='\t',header=None)
df.columns = ['date','time','size','url']

In [4]:
df.isna().sum()

date    0
time    0
size    0
url     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    12 non-null     object
 1   time    12 non-null     object
 2   size    12 non-null     int64
 3   url     12 non-null     object
dtypes: int64(1), object(3)
memory usage: 512.0+ bytes

In [6]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [7]:
df_tmp = df[(df['date'] >= '2017-08-24') & (df['date'] <= '2017-08-25') & (df['url'].str.endswith('.jpg'))]

In [8]:
df_tmp

        date      time   size                              url
1 2017-08-24  10:28:13   7050  /media/thumbnail/8b527f7ca8.jpg
2 2017-08-24  10:28:13  18400  /media/thumbnail/b2670bc44f.jpg
3 2017-08-24  10:28:14   6543  /media/thumbnail/bdb3b41b8b.jpg
5 2017-08-24  10:28:15  24130  /media/thumbnail/8124c8c648.jpg
6 2017-08-24  10:28:17   3401  /media/thumbnail/2ab5f8593a.jpg
7 2017-08-24  10:28:17   5017  /media/thumbnail/64f6312f93.jpg
8 2017-08-24  10:28:17   7210  /media/thumbnail/458f99f4d3.jpg

In [9]:
total_data_transfer = sum(df_tmp['size'])

In [10]:
total_data_transfer

71751